# Keep the Composer dist archive lean.
/tests             export-ignore
/.github           export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/phpunit.xml.dist  export-ignore
/phpstan.neon.dist export-ignore
/pint.json         export-ignore
